body {
    background-color: rgb(190, 153, 107);
    font-family: 'Courier New', Courier, monospace;
    color: black;
    text-align: center;
    margin: auto;
}

a.buttonwhy {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    padding: 20px;
    background-color: brown;

    text-decoration: none;
    color: black;
}

.navbar {
    background-color: #333;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.navbar a {
    float: left;
    display: block;
    color: #a8a8a8;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}